<%- include('partials/head') %>

<div class="container article">
    <div class="row justify-content-center">
        <% if(article) { %>
        <% if (article.heroImg) { %>
        <div class="col-lg-10 mt-5 mb-4">
            <div class="content-box hero-img" style="background-image: url('<%= article.heroImg %>');">
                <div class="text mb-3">
                    <h2><%= article.title %></h2>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="col-lg-10">
            <h2><%= article.title %></h2>
        </div>
        <% } %>
        <div class="col-lg-9">
            <% if (article.authorPicture && article.singleAuthor) { %>
            <div class="author mb-4">
                <img src="<%= article.authorPicture %>" alt="<%= article.authorName %>">
                <span>Written by:</span>
                <span><%= article.singleAuthor %></span>
            </div>
            <% } %>
            <div class="article-content">
                <% for(let content of article.content) { %>
                <p><%= content %></p>
                <% } %>
            </div>
            <a href="<%= article.url %>">Read More</a>
        </div>
    </div>
    <% } %>
</div>

<%- include('partials/footer') %>